<html>
    <head>
        {% if title %}
        <title>{{ title }} - FX API</title>
        {% else %}
        <title>FX API</title>
        {% endif %}
    </head>
    <body>
        <div>
            <h1>FX API Index</h1>
            <p>A prototype API to perform FX calculation with xrcodes e.g. (GBP, USD, EUR).</p>
            <p>Fees are applied during conversion: amount < £1000 = -£25 | amount >= £1000 = -1%</p>
            <p>GBP based rates used.</p>
            <p>Version 1.0</p>
            <br>
        </div>
        <div>
            <p>Get rates: <a href="http://127.0.0.1:5000/api/v1/xrs">localhost:5000/api/v1/xrs</a></p>
            <p>Get single rate: localhost:5000/api/v1/xrs/[xrcode]</p>
            <p>Convert currency: localhost:5000/api/v1/xrs/[xrcode to exchange from]/[xrcode to exchange to]/[amount]</p>
            <p>Convert currency with fee: localhost:5000/api/v1/xrs/[xrcode to exchange from]/[xrcode to exchange to]/[amount]?fee</p>
            <br>
        </div>
        <div>
            <p><a href="https://github.com/kev-fung/foreign-exchange">Repo here</a></p>
        </div>
    </body>
</html>